body {
  font-family: "Open Sans", sans-serif;
  background-color: bisque;
}

h1, h2, h3 {
  font-family: "Lobster";
}

header, footer {
    background-color: cadetblue;
}

header {
    margin: auto;
    text-align: center;
}

.navbar {
    background-color: blueviolet;
}

img {
    border-radius: 10px;
}

a img:hover {
    border: solid 5px;
}

