body {
  font-family: "Open Sans", sans-serif;
  background-color: bisque;
}

h1, h2, h3 {
  font-family: "Lobster";
}

header {
    background-color: cadetblue;
}

.navbar {
    background-color: blueviolet;
}
